
$mob-max: 1230px;
@mixin mobile {
	@media (max-width: $mob-max) {
		@content;
	}
}
@mixin desktop {
	@media (min-width: $mob-max) {
		@content;
	}
}
body {
	margin:0;
}
* {
	font-family: "Roboto", "Helvetica Neue";
	line-height: 1.5;
}
a {
	text-decoration: none;
	color: #4078C0;
	//
}
p {
	@include mobile {
		//padding: 10px;
	}
}
.br {
	width:100%;
}
.content {
	display: flex;
	flex-wrap: wrap;
}
pre {
	font-family: "Roboto Mono", "Courier New", Menlo;
	@include mobile {
		overflow: scroll;
		font-size: 11px;
	}
}
#donate {
	@include mobile {
		width:100%;
		text-align:center;
		order: 10;
		margin-bottom:60px ;
		//margin-top:-30px;
		img {
			margin-bottom:10px;
		}
	}
	@include desktop {
		//padding-top:10px;
		border-bottom: 1px solid #dfdfdf;
		img {
			position: relative;
			top: 5px;
			right: 5px;
		}
	}
}
#sub-form {
	clear:both; font-size:12px;
	margin-top:40px;
	margin-right:10px;
	@include mobile {
		display: none;
	}
	input, div {
		display:block;
		margin-bottom:10px;
	}
}
#home-examples {
	flex-grow: 1;
	@include mobile {
		//display:none;
	}
	@include desktop {
		//text-align: center;
		margin: 0 auto;
		flex-grow: 1;
		//margin-left: -240px;  // why do I have to center it manually? XD
	}
}
.hello_devs {
	margin:0 auto;
	@include desktop {
		width:750px;
		margin-top:40px;
		display: table-cell;
	}
	background-color: #f9f9f9;
	@include mobile {
display:none;
		width: 70%;
		max-width: 70%;
		margin-top:10px;
		overflow-x:scroll;
		//background-color: yellow;
	}
	padding: 5px;
	border: 1px solid #dfdfdf;
}
select {
	@include mobile {
display:none;
}

}
#install {
	float: right;
	position: relative;
	left: 240px;
	display:none;
}
.row {
	@include desktop {
		//border-top: 1px solid #dfdfdf;
		display: table;
		width: 100%;
	}
	@include mobile {
		display: block;
	}
}
.col {
}
.center {
	margin: 0 auto;
	@include mobile {
		width: 100%;
	}
	@include desktop {
		max-width: 980px;
	}
	flex-grow: 1;
}
.menu {
	width: 100%;
	flex-grow:1;
	border-bottom: 1px solid #dfdfdf;
	padding-bottom:10px;
	@include desktop {
		height: 60px;
		padding-left: 180px;
	}
	a {
		&:hover{
			color:#333;
		}
		color:#777 ;
		padding-right: 18px;
		padding-left: 18px;
		//margin-right: 37px;
		@include desktop {
			line-height: 70px;
		}
		@include mobile {
			line-height: 50px;
		}
		font-size: 22px;
		font-weight:300;
	}
}
.sep {
	width: 100%;
	flex-grow:1;
	border-bottom: 1px solid #dfdfdf;
	padding-bottom:30px;
}
.noborder {
	border:0;
	padding:0;
}
#social {
	//float: left;
	@include desktop {
		//width: 235px;
		//position: relative;
		//top: 70px;
		//margin-top: 70px;
		//margin-top: -120px;
		margin-top: 10px;
		margin-left: 20px;
	}
	@include mobile {
		width: 100%;
		text-align:center;
	}
}
#social a {
	@include desktop {
		display: block;
	}
	margin-bottom:10px;
	//@include mobile {
		//text-align:center;
	//}
}
#social img {
	margin-right: 10px;
	position: relative;
	top: 5px;
	@include desktop {
		width: 20px;
	}
	@include mobile {
		width: 35px;
		margin-left: 15px;
		margin-right: 0;
	}
}
.social-text {
	@include mobile {
		display: none;
	}
}
h1 {
	display: block;
	text-align: center;
	font-weight: 300;
}
h2 {
	//font-size: 16px;
	font-size: 22px;
	@include mobile {
		//font-size: 22pt;
	}
	font-weight:300;
	margin-top: 40px;
}
.feature {
	@include desktop {
		width: 440px;
		min-width: 440px;
		max-width: 440px;
		padding-top: 0px;
		h2 {
			margin-top: 10px;
		}
	}
	/*float: left;*/
	/*height: 200px;*/
	/*
	border-bottom: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	*/
	display: table-cell;
	@include mobile {
		//border-top: 1px solid #dfdfdf;
		padding-bottom: 10px;
		display: block;
		width: 90%;
		//font-size:20pt;
		margin-left: 10px;
	}
	/*
	display: block;
	width: 100%;
	*/
}
.first {
	@include desktop {
		padding-right: 70px;
	}
}
.feature img {
	width: 300px;
}
clear {
	clear: both;
}
final {
	margin-bottom: 300px;
}
td {
	width: 120px;
	@include mobile {
		width: 30%;
	}
}
// table of contents
.toc {
	@include desktop {
		float: left;
		position: sticky;
		top: 20px;
		margin-top:20px;
		height: calc(100vh - 300px);
		overflow-y: auto;
	}
	@include mobile {
		padding: 10px;
	}
	a {
		display: block;
	}
}
.docs{
	@include desktop {
		margin-left:270px;
	}
	@include mobile {
		padding: 10px;
	}
}
code {
	font-family: 'Roboto Mono';
	background-color: #f0f0f0;
	color: black;
	padding: 1px 3px 1px 3px;
}
comment {
	font-family: 'Roboto Mono';
	color: #777;
}
.next {
	display: table-cell;
	cursor:pointer;
	vertical-align: middle;
	font-size: 170%;
	padding:10px;
	@include mobile {
		display:none;
	}
}
.question {
	@include mobile {
		padding: 10px;
	}
	b {
		display: block;
	}
	margin-bottom:50px;
	@include mobile {
		margin-bottom:10px;
	}
}
#git-btn {
	color: #333;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	white-space: nowrap;
	cursor: pointer;
	background-color: #fafafa;
	border: 1px solid #d4d4d4;
	padding: 3px 10px 3px 8px;
	font-size: 13px;
	line-height: 18px;
	border-radius: 4px;
	margin-left:5px;
}
/*
#git-btn:before {
	left: -5px;
	margin-top: -6px;
	border-width: 6px 6px 6px 0;
	top: 50%;
	left: -3px;
	margin-top: -4px;
	border-width: 4px 4px 4px 0;
	border-right-color: #fafafa;
	content: '';
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}
*/
video {
	@include mobile {
		width: 100%;
	}
	@include desktop {
		width: 400px;
	}
}
.txt-subscribe {
	font-size: 14px;
	font-weight: 300;
	padding: 2px;
	width: 200px;
}
.sidenote {
	font-size: 75%;
	position: relative;
	top: -5px;
}
input[type=button] {
	font-size: 20px;
}
