{% set active_page = 'docs' %} 
{% set page_title = 'The V Documentation' %} 
{% include "./components/head.njk" %}
{% include "./components/nav.njk" %}


{% include "./docs/documentation.njk" %}


{% include "./components/foot.njk" %}


