{% set active_page = 'home' %} 
{% set page_title = 'The V Programming Language' %} 
{% include "./components/head.njk" %}
{% include "./components/nav.njk" %}
{% include "./home/landing.njk" %}
{% include "./components/foot.njk" %}
