{% set active_page = 'modules' %} 
{% set page_title = 'The V Modules' %} 
{% include "./components/head.njk" %}
{% include "./components/nav.njk" %}

<p style="text-align: center">
This page hasn't been implemented yet. It will be added once <code>v doc</code> works again.
</p>

{% include "./components/foot.njk" %}
