{% set active_page = 'play' %} 
{% set page_title = 'The V Playground' %} 
{% include "./components/head.njk" %}
{% include "./components/nav.njk" %}

{% include "./playground/playground.njk" %}

{% include "./components/foot.njk" %}
