<div id="builtinv" class="section" style="flex-direction: column">
  <div class="block">
    <h1>Built in V</h1>
    <div class="built-in-v">
      <div class="first">
        <h2>V</h2>
        <p>V itself is written in V.</p>
      </div>
      <div class="second">
        <a href="https://volt-app.com/"><h2>Volt</h2></a>
        <p>Native desktop client for Slack, Skype, Matrix, Telegram, Twitch and many more services.</p>
      </div>

      <div class="first">
    
        <a href="https://github.com/vlang/vinix"><h2>Vinix</h2></a>
        <p>A minimalistic open-source OS that can already run Bash, GCC, and V.</p>
      </div>
      <div class="second">
        <a href="https://github.com/vlang/ved"><h2>Ved</h2></a>
        <p>Open-source 1 MB editor with the performance of Sublime Text.</p>
      </div>

      <div class="first">
        <a href="https://github.com/elliotchance/vsql"><h2>vsql</h2></a>
        <p>A single-file SQL database written in pure V with no dependencies.</p>
      </div>
      <div class="second"> 
        <a href="https://github.com/vlang/coreutils"><h2>coreutils in V</h2></a>
        <p>Programs equivalent to GNU coreutils, written 100% in V.  </p>

      </div>

      <div class="first">
        <a target="_blank" href="https://github.com/vlang/c2v"><h2>C to V translator</h2></a>
        <p>This tool can already translate entire original DOOM. C++ support is planned as well. It does full automatic conversion to human readable code.</p>
      </div>
      <div class="second">
        <a href="https://github.com/vlang/ui"><h2>V UI</h2></a>
        <p>Cross-platform widget toolkit.</p>
      </div>

      <div class="first">
        <a href="https://github.com/vlang/gitly"><h2>Gitly</h2></a>
        <p>Open-source light and fast alternative to GitHub/GitLab.</p>
      </div>
      <div class="second">
        <a href="https://github.com/vlang/vorum"><h2>Vorum</h2></a>
        <p>Right now it's very basic forum/blogging software, but in the future it will be a full featured light alternative to Discourse.<br>The V forum runs on Vorum.</p>
      </div>

      <div class="first">
        <a href="https://github.com/dariotarantini/vgram"><h2>vgram</h2></a>
        <p>A bot library for Telegram Bot API.</p>
      </div>
      <div class="second">
        <a href="https://github.com/vlang/awesome-v"><h2>Awesome V</h2></a>
        <p>A curated list of awesome V frameworks, libraries and software</p>
      </div>

      <div class="first">
        <a href="https://github.com/vlang/vtl"><h2>The V Tensor Library </h2></a>
        <p>An n-dimensional Tensor data structure, sophisticated reduction, elementwise, and accumulation operations, data Structures that can easily be passed to C libraries, powerful linear algebra routines backed by VSL.
</p>
      </div>
      <div class="second">
        <a href="https://github.com/vlang/vsl"><h2>The V Scientific Library
</h2></a>
        <p>A Scientific Library with a great variety of different modules.</p>
      </div>


    </div>
    <div style="text-align: center">
      <p>Are you using V to build your product or library? <a href="mailto:alexander@vlang.io">Have it added to this list.</a></p>
    </div>
  </div>
</div>