<div class="thanks" style="justify-content: center; display: flex;flex-direction: column;margin-top: 48px;">
    <i style="margin-bottom: 8px; margin-top: 10px;">Web design by <a href="https://github.com/hex2f">Leah</a>.</i>
    <i>
        <img src="/media/v-logo.png" style="width:15px; top: 3px;position: relative;">
        logo by <a href="https://github.com/sonovice/">Sonovice</a> and <a href="https://github.com/dhonx">Don</a>.
    </i>
</div>