<h1 style="font-size:1.85em">
    The V Programming Language 0.3
    <span style="background: #4a607e; border-radius: 20px; color: #fff; font-size: 50%; padding: 3px 7px 3px 7px; position: relative; top: -15px;" class="version_beta">
        beta
    </span>
</h1>
<p>
    Simple, fast, safe, compiled. For developing maintainable software.
</p>