<div class='content landing'>
  {% include "./book.njk" %}
  <div class='hero'>
    <div class='info'>
  {% include "./headline.njk" %}
  {% include "../icons/github.html" %}
  {% include "./download-button.njk" %}
  {% include "./links.njk" %}
  {% include "./social.njk" %}
  {% include "./follow.njk" %}
    </div> 
    <!--end of info-->
  {% include "./examples.njk" %}
  </div> 
  <!--end of hero-->
  {% include "./news.njk" %}
  {% include "./sections.njk" %}
  {% include "./built-in-v.njk" %}
  {% include "./footer.njk" %}
</div>
<!--end of content landing-->