<div class="links">
    <a target="_blank" href="https://fast.vlang.io/">Is V still fast?</a>
    <a target="_blank" href="https://github.com/vlang/v/wiki/FAQ">FAQ</a>
    <a target="_blank" href="https://github.com/vlang/v/blob/master/CHANGELOG.md">Changelog</a>
    <a href="/#builtinv">Built in V</a>
    <a target="_blank" href="https://github.com/vlang/rfcs">RFCs</a>
</div>