<div class="section sponsor" style="flex-direction: column">
    <div class="block">
        <h1>Sponsors</h1>
        <div style="margin-top: 16px">
            <a target="_blank" href="https://threefold.io/">
                <img style="height: 200px" src="/media/sponsor_threefold.svg">
            </a>
            <a target="_blank" href="https://mx.com/">
                <img style="height: 200px" src="/media/sponsor_mx.png">
            </a>
            <a target="_blank" href="https://syndica.io/">
                <img style="height:200px; margin-left: 20px;" src="/media/sponsor_syndica.jpg?1">
            </a>
            <a target="_blank" href="https://chipnetics.com/">
                <img style="height: 200px" src="/media/sponsor_chipnetics.svg">
            </a>
        </div>
    </div>
    <a href="https://github.com/sponsors/medvednikov" target="_blank" style="margin: 0 0px 32px 0px; text-align: center">
        Become a sponsor via GitHub Sponsors
    </a>
</div>