    <div style="width: 100%; overflow-x: hidden; margin-bottom: -34px;">
        <a target="_blank" href="https://my-store-7564322.creator-spring.com/">
            <img style="width: 200px; margin:0; padding: 0; float: right; right: -20px; z-index: 2; position: relative" src="/media/veasel.png">
        </a>
    </div>