<div class='header'>
  <div class='flex'></div>
  <a href='/'><img src='/media/v-logo.png' class='logo' /></a>

  <div class='nav'>
    <a href='https://github.com/vlang/V/tree/master/examples' class='item'>Examples</a>
    <a href='https://github.com/vlang/v/blob/master/doc/docs.md' class='item'>Documentation</a>
    <a href='https://github.com/vlang/v/tree/master/tutorials' class='item'>Tutorials</a>
    <a href='https://modules.vlang.io/' class='item'>Stdlib Docs</a>
    <a href='https://vpm.vlang.io/' class='item'>vpm</a>
    <a href='https://github.com/vlang/v/discussions' class='item'>Forum</a>
    <a href='https://blog.vlang.io/' class='item'>Blog</a>
    <a href='https://play.vlang.io/' class='item'>Playground</a>
  </div>
  <div class="donate-button">
      <a target="_blank" href='https://patreon.com/vlang' class='patreon'><img src='/media/patreon.png' /></a>
      <a target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=HRGVJ2LA2LKJ8&item_name=Support+V+development&currency_code=USD&source=url&lc=US" class="paypal">PayPal</a>
      <a target="_blank" href="https://github.com/sponsors/medvednikov" class="github">GitHub $</a>
    </div>
  <div class='flex'></div>
</div>